.join {
    padding-bottom: 0;
    background: var(--dark-blue);
}

.wrapper__join__dev {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    
}

.section__join__dev__title {
    color: var(--dark);
    font-size: 56px;
    font-weight: 629;
    line-height: 110%;
    letter-spacing: -1.68px;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 120px;
}

.section__join__dev__subtitle {
    text-align: center;
    color: var(--description);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 40px;
}


.nav__join__dev__items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav__join__dev__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 179px;
    height: 136px;
    gap: 16px;
    margin: 0px 24px;
    margin-bottom: 68px;
    cursor: pointer;
}

.nav__join__dev__item a {
    color: var(--dark80, rgba(17, 17, 17, 0.80));
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    transition: all 0.2s ease-in-out;
}

.nav__join__dev__item img {
    transition: all 0.2s ease-in-out;
}

.nav__join__dev__item:hover > img {
    transform: scale(1.1);
}

.nav__join__dev__item:hover > a {
    color: var(--dark);
}

.bnt__join__dev a:hover {
    background: var(--blue10);
    color: var(--deep-blue10);
}
.bnt__join__dev a {
    color: var(--white);
    font-weight: 500;
    border-radius: 900px;
    background: var(--accent);
    padding: 18px 42px;
    transition: all 0.2s ease-in-out;
    display: block;
    line-height: 120%;
}
@media screen and (min-width:990px) {
    .wrapper__join__dev {
        border-radius: 0px 0px 40px 40px;
    }
    .bnt__join__dev {
        margin-bottom: 80px;
    }
}
@media screen and (max-width:989px) {
    .wrapper__join__dev {
        border-radius: 0px 0px 24px 24px;
    }
    .bnt__join__dev {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1420px) {
    .nav__join__dev__items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 990px) {
    .nav__join__dev__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .section__join__dev__title {
        width: 431px;
        font-size: 46px;
        letter-spacing: -0.96px;
    }

    .section__join__dev__subtitle {
        width: 431px;
        font-size: 20px;
    }

    .nav__join__dev__items{
        max-width: 500px;
        margin-bottom: 30px;
    }

    .nav__join__dev__item {
        width: 108px;
        height: 153px;
        margin: 30px 30px;
    }

}

@media  screen and (max-width: 500px) {
    .section__join__dev__title {
        width: 335px;
        font-size: 36px;
    }

    .section__join__dev__subtitle {
        width: 335px;
        font-size: 18px;
    }

    .nav__join__dev__item {
        width: 108px;
        height: 153px;
        margin: 15px 15px;
    }

    .nav__join__dev__item img {
        max-width: 83px;
        max-height: 83px;
    }
}

@media screen and (max-width: 418px) {
    #section__join__dev {
        border-radius: 0px 0px 24px 24px;
    }

    .section__join__dev__title {
        width: 300px;
        font-size: 30px;
        letter-spacing: -0.96px;
    }

    .section__join__dev__subtitle {
        width: 300px;
        font-size: 18px;
    }

    .nav__join__dev__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 335px;
    }

    .nav__join__dev__item {
        width: 84px;
        height: 153px;
        margin: 0px 14px;
    }

    .nav__join__dev__item img {
        max-width: 53px;
        max-height: 53px;
    }

    .nav__join__dev__item a {
        font-size: 18px;
    }

    .bnt__join__dev {
        padding: 12px 32px;
    }

    .bnt__join__dev a {
        font-size: 18px;
    }


}
